html {
    display: block;
 
}
body {
    background-image: url(background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.logo {
    margin: 25px;
}

canvas {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popbutton {
    padding: 20px;
    background-color: rgb(32, 32, 32);
    color: white;
    margin: 30px;
    width: 130px;
    text-align: center;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.active {
    
        background-image: url(../Assets/firstdecemeber.png);
    background-size: 65% !important;
    background-position: center;
    background-color: white;
   
    box-shadow: -1px 1px 65px 16px rgba(255,255,255,0.75);
-webkit-box-shadow: -1px 1px 65px 16px rgba(255,255,255,0.75);
-moz-box-shadow: -1px 1px 65px 16px rgba(255,255,255,0.75);
}    
.active:hover {
    box-shadow: 0px 4px 8px rgba(255,255,255,0.7), 
    0px 4px 8px rgba(255,255,255,0.7), 
    0px 8px 16px rgba(255,255,255,0.7), 
    0px 12px 24px rgba(255,255,255,0.7);
transform: translateY(-10px);
transform: scale(105%);
transition: 0.2s;
cursor: pointer;
}

.gift {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.unactive {
    opacity: 0.3;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: not-allowed;
}
.first {
background-image: url(../Assets/firstdecemeber.png) !important;
}
.second {
    background-image: url(../Assets/5-surprise-mini-brands-toy-surprise-ball-wave-2.jpg) !important;
}
.last {
    font-size: 36px;
    text-align: center;
    color: rgb(187, 12, 12);
}
.gift {
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.imgact {
    width: 120px;
    height: 120px;
    padding: 20px;
    margin: -20px;
    background-repeat: no-repeat;
    background-image: url(../3680.png);
    background-size: 125%;
    border-radius: 10px;
    background-position: initial;
}


@media only screen and (max-width: 768px) {
    .gift , .imgact {
        width: 70px;
        height: 70px;
        margin: 5px;
        font-size: 25px;
        padding: 5px;
    }
    .grid {
        width: 97%;
    }
    body {
        background-size: 400%;
    }
    .second {

    }
    .imgact {
        padding: 5px;
        margin: -5px;
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 768px) {
    .gift , .imgact {
        width: 10vw;
        height: 10vw;
        margin: 1vw;
        font-size: 25px;
        padding: 1vw;
    }
    .grid {
        width: 90vw;
    }
    body {
        background-size: 400%;
    }
    .second {

    }
    .imgact {
        padding: 1vw;
        margin: -1vw;
    }
  }